@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: monospace;
  background-color: black;
  color: #0d0;
  font-weight: normal;
  font-size: 13px;
}

@layer utilities {
}
